$mobile:767px;
$tablet:768px;
$pc:1200px;
$nesthub:650px;

@mixin res($device){
    @if($device == 'mobile'){
        @media(max-width:$mobile){
            @content;
        }        
    }
    @else if($device == 'tablet'){
        @media (min-width:$tablet) and (max-width:$pc){
            @content;
        }  
    }
    @else if($device == 'short'){
        @media (min-width:$tablet) and (max-width:$pc) and (max-height:$nesthub){
            @content;
        }  
    }
    @else{
        @media (min-width:$pc){
            @content;
        }  
    }
}
// @include res('mobile'){}